{% extends "base.html" %} 
{% block title %} About Digital Product Management {% endblock %}

{% block body %}
    <h2>About Digital Project Management</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores unde neque, quos velit accusamus porro hic nemo quis cupiditate dolore consequatur fuga sunt ea sint consequuntur laudantium, nam assumenda at!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid velit recusandae corporis totam sed, iusto praesentium culpa odit accusamus illum vero voluptatum sint minus reiciendis. Iste alias expedita quaerat. Exercitationem.</p>
  
{% endblock %}